<div class="row flex-row flex-nowrap overflow-auto no-gutters">
    <% for(var i = 0; i < boards.length; i++) { %>
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-3">
            <%- include('board', { board:  boards[i] }) %>
        </div>
    <% } %>
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-3">
        <a class="btn btn-outline-secondary btn-lg btn-block" href="/board/new">Create new board</a>
    </div>
</div>